/* <html>
<head>
<style> */
body {
    background-color: white;
  }
  
  h1 {
    color: black;
    text-align: left;
  }
  
  p {
    font-family: verdana;
    font-size: 14px;
  }
  /* </style> */
  /* </head>
  <body>
  
  <h1>ABOUT</h1>
  <p>test.</p>
  
  </body>
  </html> */